@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background-image: url(https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  }

div {
  background-color: rgba(255, 255, 255, 0.93);
  color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
  text-align: justify;
  margin: 30px 200px;
  padding: 10px 30px;
  box-shadow: 0px 0px 30px rgb(74, 72, 74);
  align-items: center;
}

h1 {
  color: blue;
}

.titulo {
  color:rgb(255, 255, 255);
  text-shadow: 10px 5px 5px rgb(150, 150, 175);
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.boton {
  display: block;
  background-color: rgb(35, 199, 167);
  font-size: 30px;
  color: black;
  text-align: center;
  width: 350px;
  padding: 20px;
  margin: 0 auto 100px;
  border-radius: 20px;
  font-weight: 40x;
  border: rgb(60, 185, 147);
  box-shadow: 0px 0px 30px rgb(251, 246, 250);
  text-decoration: none;

}

.boton:hover {
  background-color: #0d957c;
  color: white;
  border: transparent;
  box-shadow: 0px 0px 30px rgb(251, 246, 250);
}

img {
  float: right;
  width: 400px;
  height: 340px;
  margin: 30px;

}